<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MailableMeEntities" connectionString="metadata=res://*/MailableMe.csdl|res://*/MailableMe.ssdl|res://*/MailableMe.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=admin;Persist Security Info=True;database=MailableMe&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>